In [8]:
import sqlite3 as lite

# 다른폴더에 있다면 ../ << 한단계위로
conn = lite.connect('users.db')
cur = conn.cursor()
cur.execute("SELECT * from user")
rows = cur.fetchall()

for row in rows:
    print(row)
conn.close()

(1, 'Fastcampus', 3, 'Python')

In [9]:
conn = lite.connect('users.db')
cur = conn.cursor()
cur.execute("INSERT INTO user (name, age, lang)\
VALUES('ythwork', 30, 'c')")
cur.execute("INSERT INTO user (name, age, lang)\
VALUES('Lee', 32, 'golang')")
cur.execute("INSERT INTO user (name, age, lang)\
VALUES('kim', 24, 'facebook')")

cur.execute("SELECT * from user")
rows = cur.fetchall()

for row in rows:
    print(row)
conn.commit()
conn.close()

(1, 'Fastcampus', 3, 'Python')
(2, 'ythwork', 30, 'c')
(3, 'Lee', 32, 'golang')
(4, 'kim', 24, 'facebook')

In [11]:
conn = lite.connect('users.db')
with conn:
    cur = conn.execute("select id, name, age, lang from user")
    for row in rows:
        print("id = ", row[0])
        print("name = ", row[1])
        print("age = ", row[2])
        print("lang = ", row[3], '\n')

print('print closed')
conn.close()

id =  1
name =  Fastcampus
age =  3
lang =  Python

id =  2
name =  ythwork
age =  30
lang =  c

id =  3
name =  Lee
age =  32
lang =  golang

id =  4
name =  kim
age =  24
lang =  facebook

print closed

In [12]:
conn = lite.connect('users.db')
cur = conn.cursor()

# 미완성
with conn :
    conn.execute("UPDATE")
    

conn.close()

OperationalError: near " ": syntax error

In [15]:
conn = lite.connect('users.db')

with conn:
    conn.execute("DELETE from user where id = 3")
    conn.commit()
    print("Deletion complete")
    
    user_data = conn.execute("SELECT id, name, age, lang from user")
    for user in user_data:
        print("id = ", user[0])
        print("name = ", user[1])
        print("age = ", user[2])
        print("lang = ", user[3], '\n')


conn.close()

Deletion complete
id =  1
name =  Fastcampus
age =  3
lang =  Python

id =  2
name =  ythwork
age =  30
lang =  c

id =  4
name =  kim
age =  24
lang =  facebook